<ion-header>
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Nueva categoria" [(ngModel)]="newCategoryName">
    </ion-input>

    <ion-button slot="end" (click)="addCategory()">
      Agregar
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let category of categories$ | async; trackBy: trackByCategory">
      <ion-label>
        {{category.name}}
      </ion-label>

      <ion-button fill="clear" (click)="openEditModal(category)">
        Editar
      </ion-button>

      <ion-button fill="clear" color="danger" (click)="deleteCategory(category.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isEditModalOpen" (didDismiss)="closeEditModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Editar categoria
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeEditModal()">
              Cerrar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nombre"
            [(ngModel)]="editingCategoryName">
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          [disabled]="!editingCategoryName.trim()"
          (click)="saveCategory()">
          Guardar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
